In [35]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [36]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-10-03 05:37:19,22.0752,-159.3190,80.58,82,40,17.27
1,1,Rikitea,PF,2022-10-03 05:37:20,-23.1203,-134.9692,73.85,74,70,4.72
2,2,Kahului,US,2022-10-03 05:37:20,20.8947,-156.4700,75.22,92,75,6.91
3,3,Jalu,LY,2022-10-03 05:37:22,29.0331,21.5482,71.82,61,0,12.08
4,4,Cape Town,ZA,2022-10-03 05:36:03,-33.9258,18.4232,60.12,85,75,9.22

In [37]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [38]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
windiness = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-10-03 05:37:19,22.0752,-159.3190,80.58,82,40,17.27
2,2,Kahului,US,2022-10-03 05:37:20,20.8947,-156.4700,75.22,92,75,6.91
9,9,Pedernales,DO,2022-10-03 05:37:25,18.0384,-71.7440,80.49,70,68,3.78
11,11,Hilo,US,2022-10-03 05:37:27,19.7297,-155.0900,79.29,86,40,3.44
15,15,Kloulklubed,PW,2022-10-03 05:37:29,7.0419,134.2556,88.30,73,96,8.52
17,17,Dicabisagan,PH,2022-10-03 05:37:31,17.0818,122.4157,82.90,78,97,5.61
24,24,Dzaoudzi,YT,2022-10-03 05:37:35,-12.7887,45.2699,78.69,69,20,8.05
26,26,Vaini,TO,2022-10-03 05:37:37,-21.2000,-175.2000,77.16,78,75,8.05
32,32,Nanning,CN,2022-10-03 05:37:40,22.8167,108.3167,88.25,56,39,9.69
33,33,Moussoro,TD,2022-10-03 05:37:41,13.6408,16.4901,83.19,57,7,11.95

In [46]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [49]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0         Kapaa      US     80.58  22.0752 -159.3190
2       Kahului      US     75.22  20.8947 -156.4700
9    Pedernales      DO     80.49  18.0384  -71.7440
11         Hilo      US     79.29  19.7297 -155.0900
15  Kloulklubed      PW     88.30   7.0419  134.2556
17  Dicabisagan      PH     82.90  17.0818  122.4157
24     Dzaoudzi      YT     78.69 -12.7887   45.2699
26        Vaini      TO     77.16 -21.2000 -175.2000
32      Nanning      CN     88.25  22.8167  108.3167
33     Moussoro      TD     83.19  13.6408   16.4901

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [52]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [53]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Kahului,US,75.22,20.8947,-156.4700,Maui Seaside Hotel
9,Pedernales,DO,80.49,18.0384,-71.7440,Hotel Costa Marina
11,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Kloulklubed,PW,88.30,7.0419,134.2556,Storyboard Beach Resort
17,Dicabisagan,PH,82.90,17.0818,122.4157,Nancy Montanes Bernardo
24,Dzaoudzi,YT,78.69,-12.7887,45.2699,Le Rocher
26,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
32,Nanning,CN,88.25,22.8167,108.3167,Nanning Travelling With Hostel
33,Moussoro,TD,83.19,13.6408,16.4901,Pharmacie alnadja Moussoro

In [55]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))